<div class="container-fluid" >
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <%= tag.h1 "#{@user.name}のマイページです", class:"mt-3" %>
        <%= render 'users/card_body' %>
    </div>
  </div>
</div>
