<div class="container-fluid" >
  <div class="row justify-content-center mt-4">
    <%= render 'menburs/profile' %>
  </div>
  <div class="row justify-content-center mt-5">
    <% if @current_app.feature_image == "implement" %>
      <%= render 'menburs/posts_index' %>
    <% else %>
      <%= render 'menburs/posts_index_noimage' %>
    <% end %>
  </div>
  <div class="row" >
    <div class="d-flex justify-content-center mt-3">
      <%= paginate @posts%>
    </div>
  </div>
</div>