<div class="container-fluid" >
  <div class="row justify-content-center">
    <% if @current_app.feature_image == "implement" %>
      <%= render 'posts/index_image' %>
    <% else %>
      <%= render 'posts/index_no_image' %>
    <% end %>
    <div class="row" >
      <div class="d-flex justify-content-center mt-3">
        <%= paginate @posts%>
      </div>
    </div>
  </div>
</div>
