<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if @user %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
   </div>
  <% end %>
<% end %>