<% if flash[:notice] %>
  <div class="flash mt-1 " style="width:60;">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if @user %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
   </div>
  <% end %>
<% end %>